OPENAI_API_KEY=your_openai_api_key_here
OPENAI_DEFAULT_MODEL=gpt-4o-mini
SERPER_API_KEY=your_serper_api_key_here
LESSON_1_VECTOR_STORE_ID=paste_here_lesson_1_vector_store_id
LESSON_2_VECTOR_STORE_ID=paste_here_lesson_2_vector_store_id
LESSON_3_VECTOR_STORE_ID=paste_here_lesson_3_vector_store_id